/**LAYOUT*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-color: #fcfcfc;
}

/**TYPOGRAPHY*/
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5em;
    background-color: #fcfcfc;
}
h1 {
    font-size: 1.25em;
}
h2 {
    font-size: 3em;
    line-height: 2em;
}
h3 {
    font-size: 1em;
    text-transform: uppercase;
    color: #e57373;
}
h4 {
    font-size: 1em;
    padding-top: 1em;
}
h4:first-child {
    padding-top: 0;
}
blockquote {
    font-style: italic;
    padding-top: 1em;
    color: #e57373;
}
small {
    font-size: .9em;
}

/**NAVIGATION*/
header a {
    color: #000;
}
a {
    text-decoration: none;
    color: #e57373;
}
nav {
    float: right;
}
nav ul li a, .contact{
    text-transform: uppercase;
    font-weight: 600;
    color: #7a7a7a;
}
nav ul li {
    padding: 0 4%;
    float: right;
    display: inline-block;
}
nav ul li:first-child {
    padding-right: 0;
}

/**IMAGES*/
img {
    width: 100%;
}

/**LISTS*/
ul li{
    list-style: none;
    padding-top: 1em;
    font-size: .75em;
}
ul li a:hover{
    color: #e57373;
    text-decoration: underline;
}

/**IDS AND CLASSES*/
/**layout*/
.container {
    width: 85%;
    height: auto;
    overflow: auto;
    position: relative;
    margin: auto;
    padding: 2% 0;
    margin-bottom: 4%;
}
.row {
    width: 100%;
    overflow: hidden;
    clear: both;
    padding: 1% 0;
}
.column {
    float: left;
    padding: 0 1%;
}
.projectname {
    padding: 2% 0 4%;
    text-align: center;
}

/**column classes*/
.onefourth {
    width: 25%;
}
.half {
    width: 50%;
}
.threefourth {
    width: 75%;
}
.full {
    width: 100%;
}
.sectiontitle {
    width: 20%;
}
.sectiontext {
    width: 80%;
    
}

/**type*/
.center {
    text-align: center;
}

/**links*/
.contact li{
    padding-right: 4%;
    display: inline-block;
}

/**buttons*/
#buttonspace {
    /**space holding the button element*/
    padding: 5% 0;
}
.button {
    /**button type and border*/
    font-size: 1em;
    padding: 1em 2em;
    text-align: center;
    border-style: solid;
    border-radius: .25em;
    border-width: thin;
    color: #e57373;
}
.button:hover {
    /**makes the button react to user*/
    background-color: #e57373;
    color: #fff;
}

/**image overlay*/
.imgcontain {
    line-height: 0;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
}
.overlaytext {
    color: #fff;
    opacity: 0;
    position: absolute;
    line-height: 1.5em;
    font-size: 1.25em;
    font-weight: 600;
    bottom: 45%;
    left: 10%;
    right: 10%;
    text-align: center;
    z-index: 2;
}
.imgcontain:hover .overlay {
    opacity: .75;
    transition: .5s ease;
}
.imgcontain:hover .overlaytext {
    opacity: 1;
    transition: .5s ease;
}

/**MEDIA QUERIES*/
@media only screen and (max-width: 710px) {
    
    .container {
        width: 90%;
        margin: auto;
        padding-bottom: 15%;
    }
    .row {
        padding: 0;
    }
    .column {
        padding: 2% 0;
    }
    .half, .threefourth, header .onefourth, .sectiontitle, .sectiontext {
        width: 100%;
    }
    .onefourth {
        width: 50%;
    }
    header {
        text-align: center;
    }
    h2 {
        font-size: 2em;
    }
    nav ul li, nav ul li:first-child {
        float: none;
        padding: 0 2%;
    }
}
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1500px;
    }
}