/**LAYOUT*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
}


/**TYPOGRAPHY*/
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 1.25em;
}

h2 {
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: .75em;
    text-transform: uppercase;
    padding-top: 1.5em;
}

/**LISTS*/
ul li {
    display: inline-block;
    padding: 0 4%;
}


/**LINKS*/
ul li a{
    text-transform: uppercase;
    font-weight: 600;
    color: #999;
    font-size: .75em;
    
}

ul li a:hover {
    color: lightcoral;
    font-weight: 300;
}


/**IMAGES*/
img {
    width: 100%;
}


/**IDS AND CLASSES*/
/**layout*/
.container {
    width: 85%;
    overflow: auto;
    position: relative;
    margin: auto;
    padding: 2% 0;
    margin-bottom: 4%;
}

.row {
    width: 100%;
    overflow: auto;
    clear: both;
    padding: 1% 0;
}

.column {
    float: left;
    padding: 0 1%;
}

.narrow {
    width: 75%;
    margin: auto;
}

.projectname {
    padding: 5% 0;
    text-align: center;
}

/**column classes*/
.onefourth {
    width: 25%;
}

.half {
    width: 50%;
}

.threefourth {
    width: 75%;
}

.full {
    width: 100%;
}

/**images*/
.imgcontain {
    line-height: 0;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    transition: .5s ease;
    background-color: #000;
}

.imgcontain:hover .overlay, .imgcontain:hover .overlaytext{
    opacity: 0;
    transition: .5s ease;
}

.overlaytext {
    color: #fff;
    position: absolute;
    line-height: 1.5em;
    font-size: 1.25em;
    font-weight: 600;
    bottom: 40%;
    left: 10%;
    right: 10%;
    text-align: center;
    z-index: 2;
}

/**MEDIA QUERIES*/
@media only screen and (max-width: 710px) {
    
    .container {
        width: 90%;
        margin: auto;
    }
    
    .row {
        padding: 0;
    }
    
    .column {
        padding: 2% 0;
    }
    
    .onefourth, .half, .threefourth {
        width: 100%;
    }
    
    header {
        text-align: center;
    }
}